body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #414141;
}

#search-container {
    max-width: 600px;
    margin: 120px auto 20px auto;
    position: relative;
}

#search {
    width: 100%;
    padding: 12px 40px;
    font-size: 16px;
    border: 1px solid #cacaca;
    border-radius: 4px;
    box-sizing: border-box;
}

#search:focus {
    outline: none;
    border-color: #acacac;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#header {
    display: flex;
    vertical-align: middle;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    font-size: 30px;
    color: #ffffff;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color: white;
}

a:hover {
    color:antiquewhite;
}

#about {
    position: absolute;
    color: #ffee00;
    text-decoration: underline;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#aboutdesc {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.clear-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #c00000;
    cursor: pointer;
    display: none;
}

#locationList {
    position: absolute;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    background: #ffffff;
    border: 1px #cacaca;
    border-radius: 0 0 4px 4px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.1);
    display: none;
}

#locationList.show {
    display: block;
}

.location-item {
    padding: 12px 16px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
}

.location-item:hover {
    background-color: #f5f5f5;
}

.location-item:last-child {
    border-bottom: none;
}

#weather-display {
    max-width: 600px;
    margin: 30px auto 0 auto;
    padding: 20px;
    background-color: #c4d9ff;
    border-radius: 5px;
    display: block;
}

#temperature {
    margin-bottom: 0px;
}

#weather {
    margin-top: 20px;
    line-height: 50px;
}

#weather-icon {
    vertical-align: middle;
    width: 50px;
}

.unit-selector {
    max-width: 600px;
    margin: 15px auto 0 auto;
    color: #ffffff;
}

