<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Aeris</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="header" class="lobster-regular">
            <nav>
                <a href="{{ url_for('aeris') }}">
                    <img width="100" height="100" alt="Aeris" src="../static/images/Aeris.png" />
                </a>
            </nav>
            <nav>
                <a href="{{ url_for('aeris') }}"><h1>Aeris</h1></a>
            </nav>
        </div>
        
        <div id="aboutdesc" class="outfit">
            <p>This website was created by GitHub user <a href = "https://github.com/raaz4n">raaz4n.</a> <br> You can find more of his projects <a href = "https://raazan.dev/projects">here.</a></p>
        </div>
        
    </body>
</html>
