<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Aeris</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>

    <body>
        <h1>Aeris</h1>
        
        <div id="search-container">
            <span class="search-icon">🔍</span>
            <input type="text" id="search" placeholder="Search for a city...">
            <span class="clear-icon" id="clear-search">✕</span>
            <div id="locationList"></div>
        </div>
        
        <div class="unit-selector">
            <label>Unit:</label>
            <input type="radio" id="metric" name="unit" value="metric" checked>
            <label for="metric">°C</label>
            <input type="radio" id="imperial" name="unit" value="imperial">
            <label for="imperial">°F</label>
        </div>
        
        <div id="weather-display">
            <p id="temperature">Temperature is: </p>
            <p id="weather">Weather is: </p>
        </div>

        <script src="{{ url_for('static', filename='js/Aeris.js') }}"></script>
    </body>
</html>